@charset 'utf-8';
@use "@/styles/global/variables" as *;

.posts {
  &__header {
    display: flex;
    border-top: solid 1px $color-default;
    border-bottom: solid 1px $color-default;
    gap: 20px;
    padding: 12px 10px;
    &::before {
      content: "";
      display: block;
      height: auto;
      background-color: $color-main;
      width: 4px;
    }
    & + * {
      margin-top: 40px;
    }
  }
  &__headerWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
  }
  &__title {
    font-size: 32px;
    line-height: 1.4;
  }
  &__titleRuby {
    display: block;
    margin-bottom: 4px;
    font-size: 0.5em;
  }
  &__tag {
    display: flex;
    flex-shrink: 0;
    border-left: none;
    margin: 0;
    padding-left: 0;
    border-top: solid 1px $color-default;
    max-width: none;
    width: 100%;
    flex-direction: row;
    padding-top: 12px;
    gap: 20px;
  }
  &__category,
  &__location {
    display: flex;
    align-items: center;
  }
  &__categoryBody,
  &__locationBody {
    margin: 0;
  }
  &__categoryLink,
  &__locationLink {
    text-decoration: none;
    color: inherit;
  }
  &__category {
    gap: 16px;
    flex-shrink: 0;
  }
  &__categoryLink {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: color 0.3s;
    font-size: 14px;
    img {
      width: 42px;
      height: auto;
      transition: filter 0.3s;
    }
  }
  &__location {
    border-left: solid 1px #999999;
    padding-left: 20px;
    gap: 16px;
  }
  &__locationBody {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  &__locationLink {
    display: block;
    text-align: center;
    border: solid 1px $color-default;
    padding: 0 8px;
    transition: color 0.3s, border-color 0.3s;
    min-width: 60px;
    font-size: 14px;
  }
  &__detail {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 48px;
    gap: 24px;
    table {
      font-family: var(--font-sawarabiGothic);
      th {
        font-weight: normal;
        width: 92px;
      }
    }
  }
  &__text {
    font-size: 16px;
  }
  &__RWG {
    margin-top: 64px;
  }
}

@media (width < 600px) {
  .posts {
    &__category,
    &__location {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}

@media (width > $sp-width-normal) {
  .posts {
    &__header {
      gap: 24px;
      padding: 12px;
      &::before {
        content: "";
        width: 6px;
      }
    }
    &__headerWrapper {
      flex-direction: row;
      align-items: center;
      gap: 32px;
    }
    &__title {
      font-size: 36px;
    }
    &__tag {
      flex-direction: column;
      max-width: 300px;
      border-top: none;
      border-left: solid 1px $color-default;
      padding-top: 0;
      padding-left: 32px;
      gap: 12px;
    }
    &__category,
    &__location {
      gap: 24px;
    }
    &__categoryLink,
    &__locationLink {
      font-size: 15px;
    }
    &__categoryLink {
      img {
        width: 48px;
      }
    }
    &__location {
      border-left: none;
      padding-left: 0;
    }
    &__locationLink {
      min-width: 80px;
    }
    &__detail {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 56px;
      gap: 36px;
    }
    &__text {
      font-size: 18px;
    }
  }
}

@media (hover: hover) {
  .posts {
    &__categoryLink:hover {
      color: $color-sub;
      img {
        filter: invert(44%) sepia(80%) saturate(684%) hue-rotate(133deg) brightness(91%) contrast(101%);
      }
    }
    &__locationLink:hover {
      color: $color-sub;
      border-color: $color-sub;
    }
  }
}
