@charset 'utf-8';
@use "@/styles/global/variables" as *;

.stepInputTable,
.stepOutputTable__body {
  font-family: var(--font-sawarabiGothic);
  th {
    font-weight: normal;
  }
  th,
  td {
    line-height: 1.5;
  }
}
.stepInputTableShadow {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 2;
  }
  &::before {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
  }
  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
  }
  &.shadow-left::before,
  &.shadow-right::after {
    opacity: 1;
  }
  & + .notes {
    font-family: var(--font-sawarabiGothic);
  }
}
.stepInputTableWrapper {
  position: relative;
  overflow-x: auto;
  z-index: 1;
}
.stepInputTable {
  width: 100%;
  tbody td {
    text-wrap: nowrap;
    -webkit-text-size-adjust: 100%;
    &:first-of-type {
      min-width: 88px;
    }
    input,
    select {
      outline: none;
      &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }
    input[type="number"] {
      width: 88px;
      margin-right: 5px;
      padding-left: 4px;
    }
    select {
      padding: 2px 16px 2px 4px;
    }
    .inputError {
      display: inline-block;
      font-size: 15px;
      padding-top: 4px;
      color: $color-caution;
    }
    &.calcButton {
      text-align: center;
      padding: 16px 0;
      button {
        position: relative;
        cursor: pointer;
        border: solid 1px $color-default;
        padding: 8px 32px;
        width: 60%;
        display: inline-block;
        text-align: center;
        background-color: $color-white;
        transition: color 0.3s, background-color 0.3s;
        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 16px;
          width: 8px;
        }
      }
    }
  }
}
.stepOutputTable {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  & + .notes {
    font-family: var(--font-sawarabiGothic);
  }
}
.regularLink {
  svg {
    padding-left: 4px;
  }
}

@media (width > $sp-width-normal) {
  .stepInputTable {
    tbody td {
      &.calcButton {
        button {
          width: 50%;
        }
      }
    }
  }
  .stepOutputTable {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (hover: hover) {
  .stepInputTable {
    tbody td {
      &.calcButton {
        button:hover {
          color: $color-white;
          background-color: $color-accent;
        }
      }
    }
  }
}
