@charset 'utf-8';
@use "@/styles/global/variables" as *;

.footer {
  color: $color-white;
  background-color: $color-main;
  a {
    transition: opacity 0.3s;
    &.footer__logo {
      text-decoration: none;
    }
  }
  .footer__wrapper {
    padding: 32px 10px 16px;
  }
  &__logo {
    font-size: 30px;
    line-height: 1;
  }
  &__mainNav,
  &__subNav {
    list-style: none;
    padding-left: 0;
  }
  &__mainNav {
    margin-top: 24px;
    & > li:not(:first-of-type) {
      margin-top: 12px;
    }
  }
  &__subNav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 8px 0 0 0.5em;
    column-gap: 16px;
    &--category::before,
    &--location::before {
      width: 100%;
    }
    &--category::before {
      content: "Category :";
    }
    &--location::before {
      content: "Location :";
    }
    li:not(:last-of-type)::after {
      content: "|";
      margin-left: 16px;
    }
  }
  small {
    display: block;
    border-top: solid 1px #fff;
    padding-top: 12px;
    margin-top: 32px;
    text-align: center;
  }
}
@media (width > $sp-width-normal) {
  .footer {
    a {
      text-decoration: none;
    }
    &__logo {
      font-size: 32px;
    }
    .footer__wrapper {
      padding: 40px 30px 16px;
    }
    &__mainNav {
      margin-top: 32px;
      & > li:not(:first-of-type) {
        margin-top: 8px;
      }
    }
    &__subNav {
      margin: 4px 0 0 1em;
      &--category::before,
      &--location::before {
        width: fit-content;
      }
    }
  }
}
@media (hover: hover) {
  .footer {
    a:hover {
      opacity: 0.7;
      color: $color-white;
    }
  }
}