@charset 'utf-8';

$letter-spacing: 0.03em;

$line-height-normal: 1.8;

$color-default:  #231815;
$color-main: #00afec;
$color-sub: #00a29a;
$color-accent: #f08300;
$color-background: #fafafa;
$color-white: #ffffff;
$color-caution: #e00000;

$pc-width-normal: 1060px;
$pc-width-large: 1210px;
$sp-width-normal: 767px;