@charset 'utf-8';
@use "@/styles/global/variables" as *;

.pagination {
  display: flex;
  gap: 8px;
  margin-inline: auto;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  width: fit-content;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 36px;
    height: 36px;
    transition: background-color 0.3s;
    border-radius: 4px;
    &.current {
      background-color: $color-sub;
      color: $color-white;
    }
  }
}
@media (hover: hover) {
  .pagination {
    a:not(.current):hover {
      background-color: rgb($color-sub, 0.5);
    }
  }
}
