@charset 'utf-8';
@use "@/styles/global/variables" as *;

.scrollDisable {
  overflow: hidden;
}

/* hamburger */
.hamburger {
  all: unset;
  width: 28px;
  height: 20px;
  position: relative;
  z-index: 15;
  cursor: pointer;
  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-default;
    transition: background-color 0.4s ease-out;
    &:first-of-type {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 9px;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
  &.clicked {
    span {
      &:first-of-type {
        animation: sp-hamburger-bar01 0.4s forwards;
      }
      &:nth-of-type(2) {
        opacity: 1;
        transition: all 0.2s 0.2s;
      }
      &:last-of-type {
        animation: sp-hamburger-bar03 0.4s forwards;
      }
    }
  }
  &.isActive {
    span {
      background-color: $color-white;
      &:first-of-type {
        animation: sp-active-hamburger-bar01 0.4s forwards;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:last-of-type {
        animation: sp-active-hamburger-bar03 0.4s forwards;
      }
    }
  }
  &:focus-visible {
    outline-offset: 3px;
    outline: -webkit-focus-ring-color auto 1px;
  }
}
@keyframes sp-hamburger-bar01 {
  0% {
    transform: translateY(9px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes sp-hamburger-bar03 {
  0% {
    transform: translateY(-9px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes sp-active-hamburger-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(9px) rotate(45deg);
  }
}
@keyframes sp-active-hamburger-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px) rotate(0);
  }
  100% {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@media (width > $sp-width-normal) {
  .hamburger {
    width: 32px;
    height: 24px;
    span {
      &:nth-of-type(2) {
        top: 11px;
      }
    }
    &.clicked {
      span {
        &:first-of-type {
          animation: hamburger-bar01 0.4s forwards;
        }
        &:last-of-type {
          animation: hamburger-bar03 0.4s forwards;
        }
      }
    }
    &.isActive {
      span {
        &:first-of-type {
          animation: active-hamburger-bar01 0.4s forwards;
        }
        &:last-of-type {
          animation: active-hamburger-bar03 0.4s forwards;
        }
      }
    }
  }
  @keyframes hamburger-bar01 {
    0% {
      transform: translateY(11px) rotate(45deg);
    }
    50% {
      transform: translateY(10px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
  @keyframes hamburger-bar03 {
    0% {
      transform: translateY(-11px) rotate(-45deg);
    }
    50% {
      transform: translateY(-10px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
  @keyframes active-hamburger-bar01 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(10px) rotate(0);
    }
    100% {
      transform: translateY(11px) rotate(45deg);
    }
  }
  @keyframes active-hamburger-bar03 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-10px) rotate(0);
    }
    100% {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}

/* header_nav */
.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, $color-main, $color-sub);
  width: 100%;
  height: 100dvh;
  padding: 24px 24px 56px;
  z-index: 10;
  transition: all 0.4s ease-out;
  opacity: 0;
  transform: translateX(100%);
  overflow: hidden scroll;
  &.isActive {
    transform: translateX(0);
    opacity: 1;
  }
  .header__menuWrapper {
    list-style: none;
    padding: 0;
    margin: 50px 0 0;
  }
  .header__menuList {
    &:not(first-of-type) {
      border-bottom: 1px solid $color-white;
    }
  }
  .header__menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    padding: 16px;
    transition: opacity 0.3s;
    svg {
      width: 8px;
    }
  }
  .header__menuItemTitle {
    line-height: 1.4;
    span {
      display: block;
      font-size: 0.6em;
    }
  }
}

@media (width > $sp-width-normal) {
  .header__nav {
    width: 440px;
    padding: 40px 40px 64px;
  }
}

@media (hover: hover) {
  .header__nav {
    .header__menuItem:hover {
      opacity: 0.6;
    }
  }
}

.header_navBackground {
  position: fixed;
  top: 0;
  left: 0;
  &.isActive {
    background-color: rgb(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100dvh;
    z-index: 5;
  }
}

.header__navWrapper {
  margin-top: 40px;
}
.header__navTitle {
  text-align: center;
  color: $color-white;
  font-weight: normal;
}
.header__navList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 32px;
  list-style: none;
  padding: 0;
  margin: 24px 0 0;
}
.header__categoryNavItem {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1;
  color: $color-white;
  text-decoration: none;
  transition: opacity 0.3s;
  width: fit-content;
  div {
    flex-shrink: 0;
    img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(220deg) brightness(115%) contrast(115%);
    }
  }
  p {
    margin: 0;
  }
}
.header__locationNavItem {
  width: inherit;
  display: block;
  text-align: center;
  color: $color-white;
  text-decoration: none;
  border: solid 1px $color-white;
  padding: 6px 8px;
  transition: opacity 0.3s;
}

@media (width > $sp-width-normal) {
  .header__navList {
    gap: 16px 32px;
  }
  .header__locationNavItem {
    padding: 4px 8px;
  }
}

@media (hover: hover) {
  .header__categoryNavItem:hover {
    opacity: 0.6;
    p {
      color: $color-white;
    }
  }
  .header__locationNavItem:hover {
    opacity: 0.6;
    color: $color-white;
  }
}
