@charset 'utf-8';
@use "@/styles/global/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 16px 24px;
  margin-inline: auto;
  position: sticky;
  top: 0;
  background-color: rgb(250, 250, 250, 0.9);
  z-index: 5;
  &__logo {
    line-height: 1;
    a {
      font-family: var(--font-sawarabi-mincho), serif;
      font-weight: normal;
      font-size: 32px;
      text-decoration: none;
      color: $color-main;
    }
  }
}

@media (width > $sp-width-normal) {
  .header {
    padding: 16px 32px;
    &__logo {
      a {
        font-size: 36px;
      }
    }
  }
}

@media (hover: hover) {
  .header {
    &__logo {
      a:hover {
        color: $color-main;
      }
    }
  }
}