@charset 'utf-8';
@use "@/styles/global/variables" as *;

.hideBtn {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  z-index: 5;
  &.visible {
    opacity: 1;
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 44px;
    height: 44px;
    background-color: $color-main;
    text-decoration: none;
    border-radius: 4px;
    color: $color-white;
    transition: opacity 0.3s;
  }
}

@media (hover: hover) {
  .hideBtn:hover {
    span {
      opacity: 0.7;
    }
  }
}