@charset 'utf-8';
@use "@/styles/global/variables" as *;

.hideBtn {
  position: fixed;
  right: 24px;
  bottom: 24px;
  cursor: pointer;
  z-index: 3;
  border: none;
  padding: 0;
  background-color: transparent;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $color-main;
    text-decoration: none;
    border-radius: 4px;
    color: $color-white;
    transition: opacity 0.3s;
  }
}

@media (hover: hover) {
  .hideBtn:hover {
    span {
      opacity: 0.7;
    }
  }
}